@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://i.ytimg.com/vi/CudHp9eEe9c/maxresdefault.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 5px;
    margin: 20px auto;
}

.cell {
    background-color: #fff;
    border: 2px solid #007BFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #e0e0e0;
}

.controls {
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px 20px; /* Added margin to create space between buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1em;
}
#restart {
    background-color: #28a745;
    color: white;
}

#playAI {
    background-color: #17a2b8;
    color: white;
}

button:hover {
    opacity: 0.8;
    transform: scale(1.05);
}

#status {
    font-size: 1.2em;
    margin-top: 20px;
}
